################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opensdf
*.sdf
*.suo
*.obj
*.bak
*.ipch
.vs/
/o
sample/x86/
sample/x64/
sample/o/
/lib
sample/test.xml
