################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opensdf
*.sdf
*.suo
*.obj
*.bak
*.ipch
.vs/
/o
doc/html/
sample/Win32/
sample/x64/
sample/o/
/lib
